PAToken.txt
Lecture_Notes/
Participants/
*.out
Assignment 1/
Codes/OpenMP/Assignment_2
Codes/Assignment_2
Codes/Assignment_2.tar.xz
.Q2_Assignment_2.zip
.Q2_Samples.zip
.Q2_Assignment_2/
.Assignment_2.tar.xz
.Assignment_2/
.Q2_Samples/


